{% extends 'base.html.twig' %}

{% block title %}Library - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Librairie</h1>
    <div class="filter-game">
        <label for="">Filtre par type de jeu</label>
        <select name="game-select" id="game-select">
            <optgroup>
                {# <option value="#">{{Category.name}}</option> #}
            </optgroup>
        </select>
        <button>valider</button>
    </div>
    
    <!-- Grille de jeu -->
    <div class="grid-library-game">
        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>
    </div>
{% endblock %}

