{% extends 'base.html.twig' %}


{% block title %}Library - {{ parent() }}{% endblock %}

{% block body %}
<main class="container-library">

    <h2>Librairie</h2>
    {# Filtre les jeux par catégorie *9 #}

    <div class="filter-game" >
        <label for="">Filtre par type de jeu</label>
        <select name="game-select" id="game-select">
            <option value="0">Tout</option>
            {% for category in category %}
                <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <button>valider</button>
    </div>
    
    <!-- Grille de jeu 3 jeux collun + boucle pour afficher tout les jeux qui existe ligne par ligne-->
    <div class="grid-library">

        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>

        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>

        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>

        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>

        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>

        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>

        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>

        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>

        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>

        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>

        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>
        
        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>

    </div>

</main>
{% endblock %}

