{% extends 'base.html.twig' %}

{% block title %}Library - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Librairie</h1>
    <div class="filter-game" style="margin-top: 100px; text-align:center; color:white;">
        <label for="">Filtre par type de jeu</label>
        <select name="game-select" id="game-select">
            <option value="0">Tout</option>
            {% for category in category %}
                <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <button>valider</button>
    </div>
    
    <!-- Grille de jeu -->
    <div class="grid-library-game">
        <div class="card-game">
            <img src="#" alt="">
            <p>text</p>
        </div>
    </div>
{% endblock %}

