{% block footer %}

<footer class="footer">

    <div class="link_media">
     <a href="https://www.facebook.com/natsu.igneel.5496/" class="fa-brands fa-facebook fa-2xl" alt="facebook"></a>
     <a href="https://www.instagram.com/kamaret.lg/?hl=fr" class="fa-brands fa-instagram fa-2xl" alt="instagram"></a>
     <a href="https://www.linkedin.com/in/gauthier-largilliere/" class="fa-brands fa-linkedin fa-2xl"alt="linkedIn"></a>
     <a href="https://github.com/brest0ou" class="fa-brands fa-github fa-2xl" alt="github"></a>
    </div>
    <div class="copy">
     <p>© 2022 VirtualGaming News</p>
    </div>   
    
</footer>

{% endblock %}

