{% extends 'base.html.twig' %}

{% block title %}A propos - {{ parent() }}{% endblock %}

{% block body %}
    <main class="container-about">

        <h2>À Propos</h2>

        <div class="about-bloc bloc_a">
            
            <div class="about_contain">
                <p>VirtualGaming News a été créée en 2022 par BrestOou, Kamaret avec l’envie de de faire partager les jeux crée par des dévelopeur pour faire découvrir de nouvelle façon de jouer .
                    <br> Dans un univers où les plateformes de jeux vidéo sont constamment autour de nous mes soyer tranquille vous êtes içi comme chez vous.</p>
            </div>
            <img src="{{ asset('asset/images/cool.jpg' ) }}" alt="">
        </div>

        <div class="about-bloc bloc">
            <img src="{{ asset('asset/images/futur.jpg' ) }}" alt="">
            <div class="about_contain ">
                <p class="margpabout">Nous avons mis nos compétences et toute notre énergie à vous partager tous le contenue qui nous était possible afin de vous proposer un design des plus particulié parmis tant d'autre.</p>
            </div>
        </div>

    </main>
{% endblock %}

