{% extends 'base.html.twig' %}

{% block title %}A propos - {{ parent() }}{% endblock %}

{% block body %}
    <main class="container-about">

        <h2>À Propos</h2>

        <div class="about-bloc bloc_a">
            
            <div class="about_contain">
                <p>VirtualGaming News a été créée en 2022 par BrestOou, Kamaret avec l’envie de [EXPLIQUER LA RAISON DE LA CRÉATION DE VOTRE ENTREPRISE/MARQUE].
                    Dans un univers où [DÉCRIVEZ LES PROBLÉMATIQUES LIÉES À VOTRE NICHE].</p>
            </div>
            <img src="{{ asset('asset/images/cool.jpg' ) }}" alt="">
        </div>

        <div class="about-bloc bloc">
            <img src="{{ asset('asset/images/futur.jpg' ) }}" alt="">
            <div class="about_contain">
                <p>Nous avons mis nos compétences et toute notre énergie à [PARTAGEZ LES ACCOMPLISSEMENTS ET LES RÉALISATIONS].
                     Afin de [EXPLIQUEZ VOTRE MISSION POUR L’AVENIR].</p>
            </div>
        </div>

    </main>
{% endblock %}

