{% extends 'base.html.twig' %}

{% block title %}Acceuil - {{ parent() }} {% endblock %}

{% block body %}
<main class="container-index">
    <div class="info-homepage">
        <p>VirtualGaming New est une plateforme de mise a disposition de jeux Crée par des dévellopeurs pour tous les utilisateurs</p>
    </div>
    <div class="best-bloc">
        <h2>Meilleurs Jeux</h2>
        <div class="grid-bg-img">
            <div class="bloc-bg-img">
                <img class="img-best-game" src="#" alt="#">
            </div>
            <div class="bloc-bg-img">
                <img class="img-best-game" src="#" alt="#">
            </div>
            <div class="bloc-bg-img">
                <img class="img-best-game" src="#" alt="#">
            </div>
            <div class="bloc-bg-img">
                <img class="img-best-game" src="#" alt="#">
            </div>
            <div class="bloc-bg-img">
                <img class="img-best-game" src="#" alt="#">
            </div>
            <div class="bloc-bg-img">
                <img class="img-best-game" src="#" alt="#">
            </div>
        </div>
    </div>
    <div class="best-bloc">
        <h2>Meilleurs Poste</h2>
        <div class="gris-bp-img">
            <div class="bloc-bp-img">
                <img src="#" alt="#">
            </div>
            <div class="bloc-bp-img">
                <img src="#" alt="#">
            </div>
            <div class="bloc-bp-img">
                <img src="#" alt="#">
            </div>
            <div class="bloc-bp-img">
                <img src="#" alt="#">
            </div>
        </div>
    </div>
</main>
{% endblock %}
